body {
    background-color: whitesmoke;
}

#main-page div {

    border: 1px solid black;
    height: 100px;
}

#main-page {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 80%;
    margin: 0 auto;
}

/* -----------main-header start -----------------*/
.main-header {
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    grid-template-columns: 20% auto;
    background-color: gray;
}

.logo i {
    font-size: 50px;
    padding-top: 20px;
    color: whitesmoke;
}

.logo {
    text-align: center;
}


/* -----------main-header end -----------------*/


/*---------- main-nav start  --------------------*/

.main-nav {
    grid-column-start: 1;
    grid-column-end: 4;
}

.main-nav ul {
    text-align: center;
    padding: 0;
}

.main-nav ul li {
    display: inline-block;
    width: 24%;

}

/* 
.main-nav ul li:last-child {
    float: right;
} */



/*---------- main-nav start  --------------------*/